body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background: #425483;
	color: #fff;
}

.app {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.form {
	margin: 10px;
	background: #333;
	padding: 10px 250px 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 10px;
}
.cart {
	margin: 10px;
	background: #333;
	padding: 10px 250px 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 10px;
}

h1 {
	font-size: 2.2em;
	line-height: 1.1;
}
