
body {
	margin: 50px 0 0 0;
	background: #425483;
	color: #fff;
	display: flex;
	justify-content: center;
	text-align: center;
}

.bottom {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.top {
	margin: 10px;
	background: #333;
	padding: 10px 50px 50px;
	border: 1px solid #fff;
	border-radius: 10px;
}

.form {
	margin: 10px;
	background: #333;
	padding: 10px 50px 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 10px;
}
.cart {
	margin: 10px;
	background: #333;
	width: 500px;
	padding: 10px 80px 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 10px;
}

h1 {
	font-size: 2.2em;
	line-height: 1.1;
}
